<div style="height: 110px; background-color: rgba(255,0,0,0.1);">

    <nav class="navbar sticky-top navbar-expand-lg  navbar-dark bg-dark h-100" >
        <div class="container-fluid h-100">
            <a class="navbar-brand" href="#">MediaHUB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home NAv</a>
                    
                </div>
                
            </div>
        </div>
    </nav>



</div>

