<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Qbootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mubies</title>
</head>
<body>
    
    <%- body %> 

    <footer>
        <center>
          <button type="button" class="btn btn-info"><a href="https://www.gmail.com/" target="_blank">Contact Us</a></button>
        </center>
      <p style="margin:30px;">
        <a href="https://www.twitter.com/" style="padding:0px 10px;" target="_blank">Twitter</a>
        <a href="https://www.github.com/" style="padding:10px 10px;" target="_blank">Github</a>
        <a href="https://www.facebook.com/" style="padding:10px 10px;" target="_blank">Facebook</a>
        <a href="#top" style="position:absolute;right:30px;">Back to top</a>
        <br /><br />
        Made by Aman Baibhav Nikhil Prashant</br>
        Based on <a href="https://www.npmjs.com/package/axios" target="_blank">axios</a> http client, <a href="https://www.omdbapi.com/" target="_blank">omdb</a> api and <a href="https://getbootstrap.com/" target="_blank">bootstrap</a>.
      </br>
      Icons from <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap-icons</a>. Web fonts from <a href="https://fonts.google.com/" target="_blank">Google</a>.
      </p>
      
      </footer>

    <script src="/js/validForm.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>