<% layout('layouts/boilerplate') %> 

<%- include('./partials/navbar') %> 
<center>
    <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 40rem;" >
      <div class="card-header">About</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align:left;">Mubies</h4>
        <p class="card-text" style="text-align:justify;">Mubies is a movie searching web application. It displays movie titles related to the text entered in the search box. Movie title has a movie details button which when clicked displays the details of the movie. The project “Mubies” is a movie searching web app which falls under the category of ‘multi-media and entertainment’. The number of internet users is growing rapidly day by day. As a result, there is an overwhelming demand for entertainment contents in the internet. Also, to take into account the current situation of ‘Pandemic of covid-19' still prevalent in many parts of the world where people have to be inside their home in isolation and many of the working class also have to work from home which also add to the demand for entertainment contents in the internet. There is a heap of content available for entertainment on the internet and people may want a “go-to-place" where they can find such vast collection of content and get more detailed information about them. This web app helps in achieving this by making search query for the titles of the movies and all the results matching the query will be presented before the user to look through and even fetch more details about a movie in a beautiful looking UI and provide an overall decent experience to the user.</p>
      </div>
    </div>
  </center>