<% layout('layouts/boilerplate') %> 

<%- include('./partials/navbar') %> 
<center>
    <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 40rem;" >
      <div class="card-header">About</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align:left;">Mubies</h4>
        <p class="card-text" style="text-align:justify;">Mubies is a movie searching web application. It fetches and displays Movies based on the Movie-Title entered in the search box or the genre(s) selected. Each Movie has its own details Page which when viewed, displays lot of relevant details about the movie along with option to view IMDB page for that particular Movie. There is also a feature of registering yourself, and with that done Users also have the ability to put their own Rating & Reviews for each of the movies. </p>
        <p class="card-text" style="text-align:justify;">This Project constitutes “Mubies” - a movie searching web app which falls under the category of ‘multi-media and entertainment’. As the years pass, the amount of content belonging to the 'Entertainment Media' also grows rapidly. As a result, there is a ever-increasing stock pile of movies on the web. Also, to take into account the current situation of ‘Pandemic of covid-19' still prevalent in many parts of the world where people have to stay inside their homes in self-isolation and many of the working class also have to work from home. These factors add up to the increased demand for entertainment on Television & web. Overall there is a heap of content available for entertainment on the internet and people may want a “go-to-place" where they can query for movies as per their liking from the vast collection of contents and request for more detailed information about them. This web app helps in achieving this by making search query for the titles of the movies and all the results matching the query will be presented before the user to look through; all while serving a trendy looking User Interface & a decent user-experience. </p>
      </div>
    </div>
  </center>