
<% layout('layouts/boilerplate') %> 

<%- include('./partials/Hnavbar')  %> 
<%- include('./partials/flash')  %> 

<link rel="stylesheet" href="/css/home.css">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
              <form action="/search" method="post" class="validateForm" novalidate id="hform">
                <div class="form-group">
                  <label class="form-label" for="query">Search box</label>
                <input class="form-control" type="text" name="term" id="query" placeholder="Name a movie">
                </div> <br>
                <div class="container">
                  <div class="row justify-content-around">
                    <div class="col-5" id="rdio">
                      <label class="form-label" for="Querymethod">Browse by :  </label>
                      <label class="form-label"><input type="radio" name="Qtyp" id="nameradio" value="n" checked required>Name <span>   or </span></label>
                      <label class="form-label"><input type="radio" name="Qtyp" id="genradio" value="g" required>Search by Genre</label>
                    </div>
                    <div class="col-4">
                      <button type="submit" class="btn" id="submit">Search</button>
                    </div>
                  </div>
                </div>
                
                <br><br>

                <textarea name="genlist" id="genlist" cols="8" rows="1" style="display: none;"></textarea>
                <div class="form-group">
                  <div class="conatiner">
                    <div class="row justify-content-between offset-1">
                      <div class="col col-10"  id="gens">
                        <label for="ac"><input type="checkbox" name="gen[]" id="ac" value="28"> <span>Action </span></label>
                        <label for="ad"><input type="checkbox" name="gen[]" id="ad" value="12"> <span>Adventure </span></label>
                        <label for="an"><input type="checkbox" name="gen[]" id="an" value="16"> <span>Animation </span></label>
                        <label for="co"><input type="checkbox" name="gen[]" id="co" value="35"> <span>Comedy </span></label>
                        <label for="cr"><input type="checkbox" name="gen[]" id="cr" value="80"> <span>Crime </span></label>
                        <label for="dc"><input type="checkbox" name="gen[]" id="dc" value="99"> <span>Documentary </span></label>
                        <label for="dr"><input type="checkbox" name="gen[]" id="dr" value="18"> <span>Drama </span></label>
                        <label for="fm"><input type="checkbox" name="gen[]" id="fm" value="10751"> <span>Family </span></label>
                        <label for="fn"><input type="checkbox" name="gen[]" id="fn" value="14"> <span>Fantasy </span></label>
                        <label for="ht"><input type="checkbox" name="gen[]" id="hst" value="36"> <span>History </span></label>
                        <label for="hr"><input type="checkbox" name="gen[]" id="hrr" value="27"> <span>Horror </span></label>
                        <label for="ms"><input type="checkbox" name="gen[]" id="ms" value="10402"> <span>Music </span></label>
                        <label for="my"><input type="checkbox" name="gen[]" id="mys" value="9648"> <span>Mystery </span></label>
                        <label for="rm"><input type="checkbox" name="gen[]" id="rm" value="10749"> <span>Romance </span></label>
                        <label for="sf"><input type="checkbox" name="gen[]" id="sf" value="878"> <span>Sci-fi </span></label>
                        <label for="tv"><input type="checkbox" name="gen[]" id="tv" value="10770"> <span>Tele </span></label>
                        <label for="tr"><input type="checkbox" name="gen[]" id="tr" value="53"> <span>Thriller </span></label>
                        <label for="wr"><input type="checkbox" name="gen[]" id="wr" value="10752"> <span>War </span></label>
                        <label for="ws"><input type="checkbox" name="gen[]" id="ws" value="37"> <span>Western </span></label>

                      </div>
                    </div>
                  </div>
                </div>
                 
              </form>
              
            </div>
            <div class="col-6">
              <center>
                <div class="card text-white bg-primary mb-3" style="max-width: 35rem;" id="_about">
              <div class="card-header">About</div>
              <div class="card-body">
                <h4 class="card-title">Mubies</h4>
                <p class="card-text">Mubies is a movie searching web application. It displays movie titles related to the text entered in the search box. Movie title has a movie details button which when clicked displays the details of the movie.</p>
              </div>
            </div>
              </center>
            </div>
        </div>
    </div>
    <script>
      let val=''
      const list = document.querySelector('#genlist')
      const sform = document.querySelector("form");
      sform.addEventListener("submit", async (e) => {
        // e.preventDefault();
        var checkboxes = document.getElementsByName('gen[]');  
        for (var i=0, n=checkboxes.length;i<n;i++) 
          {
            if (checkboxes[i].checked){
            val += ","+checkboxes[i].value;
              }
        }
        list.append(val)
        })
    </script>


                        

                        